image: docker.io/drycc/buildpacks:20
manifests:
  -
    image: docker.io/drycc/buildpacks:20-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: docker.io/drycc/buildpacks:20-linux-arm64
    platform:
      architecture: arm64
      os: linux

