image: docker.io/drycc/pack:${STACK}
manifests:
  -
    image: docker.io/drycc/pack:${STACK}-linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: docker.io/drycc/pack:${STACK}-linux-arm64
    platform:
      architecture: arm64
      os: linux
